{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Vaccination Status Analysis | Child Immunization System
{% endblock page_title %}


{% block content %}
    <script>
        var jsonobject = JSON.parse('{{ jsondata | escapejs }}');
    </script>
    <div class="row">
        <div class="col s10">
            <h3>Vaccination Status Analysis</h3>
        </div>
        <div class="col s2" style="padding-top: 2.5em;">
            <a class="waves-effect waves-light btn modal-trigger" href="#chart"><i class="material-icons">insert_chart</i></a>
        </div>
    </div>

    <div id="chart" class="modal modal-fixed-footer green lighten-5">
        {% include "medical/_charts.html" %}
    </div>


    <table class="highlight centered responsive-table">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Parent Name</th>
                <th>Successful Vaccination Count</th>
                <th>Unsuccessful Vaccination Count</th>
                <th>Vaccination Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for parent_status in parent_wise_vaccination_status %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><strong>{{ parent_status.parent_name }}</strong></td>
                    <td>{{ parent_status.vaccination_done_count }}</td>
                    <td>{{ parent_status.vaccination_missed_count }}</td>
                    <td>{{ parent_status.vaccinated_percentage }} %</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}