{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Vaccination Status Analysis | Child Immunization System
{% endblock page_title %}

{% block content %}
    <script>
        var jsonobject = JSON.parse('{{ jsondata | escapejs }}');
    </script>
    {% include "medical/_charts.html" %}
    <h1>Vaccination Status Analysis</h1>
    {% for parent_status in parent_wise_vaccination_status %}
        <p>{{ parent_status.parent_name }} -- {{ parent_status.vaccination_done_count }} -- {{ parent_status.vaccination_missed_count }} -- {{ parent_status.vaccinated_percentage }}</p>
    {% endfor %}
{% endblock content %}