{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}
    Add Child to Parent | Child Immunization System
{% endblock page_title %}

{% block content %}
    <h3>Add Child to Parent</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="input-field">
            {{ form.parent_username }}
            <label for="parent_username">Parent Username</label>
        </div>
        <div class="input-field">
            {{ form.child_first_name }}
            <label for="child_first_name">Child's First Name</label>
        </div>
        <div class="input-field">
            {{ form.child_last_name }}
            <label for="child_last_name">Child's Last Name</label>
        </div>
        <div class="input-field">
            {{ form.child_dob|add_class:'datepicker' }}
            <label for="child_dob">Child's DOB</label>
        </div>
        <button class="waves-effect waves-light btn">Register</button>
    </form>
{% endblock content %}