<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<div class="container-custom">
    <br>
    <canvas id="myPieTotalChart" width="30" height="20" style="background-color:#e8f5e9;"></canvas>
</div>
<script>
    var ctx = document.getElementById("myPieTotalChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: jsonobject.total_label,
            datasets: [{
                label: '% of Vaccination Successful',
                data: jsonobject.total_value,
                backgroundColor: [
                    'rgba(41, 182, 246, 1)',
                    'rgba(149, 117, 205, 1)',
                    'rgba(239, 154, 154, 1)',
                    'rgba(255, 213, 79, 1)',
                    'rgba(57, 73, 171, 1)',
                    'rgba(165, 214, 167, 1)',
                    'rgba(255, 167, 38, 1)',
                ],
                borderColor: [
                    'rgba(41, 182, 246, 1)',
                    'rgba(149, 117, 205, 1)',
                    'rgba(239, 154, 154, 1)',
                    'rgba(255, 213, 79, 1)',
                    'rgba(57, 73, 171, 1)',
                    'rgba(165, 214, 167, 1)',
                    'rgba(255, 167, 38, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                position: 'right'
            },
            title: {
                display: true,
                text: 'Successful vs Unsuccessful Vaccination',
                position: 'bottom'
            }
        }
    });
</script>